.App {
  text-align: center;
}

.footer {
  height: 30px;
  padding-top: 20px;
  background: rgba(44, 44, 46, 0.5);
  width: 100%;
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(15px);
}

.footer .center-item-container {
  display: flex;
  position: absolute;
  grid-column-gap: -5px;
  column-gap: -30px;
  justify-content: flex-center;
  /* margin-top: 10px; */
  justify-content: center;
  width: 100%;
  /* margin-top: 10px; */
}

.center-item-container .fontawesome:hover {
  /* background-color: rgba(23, 25, 46, 0.164); */
  background-color: rgba(17, 69, 253, 30%);
}

.footer .center-item-container > div {
  height: 10%;
  width: 4%;
}

.fontawesome {
  margin-top: -9px;
  border: 0;
  border-radius: 3px;
}
.right-item-container > div:hover:not(.notificationBadge) {
  background-color: rgba(23, 25, 46, 0.164);
}

.right-item-container {
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content: flex-end;
  position: absolute;
  right: 1%;
  width: 32%;
  top: 9px;
}

.right-item-container > div:not(.group-icon) {
  height: 10%;
  width: 4%;
  color: white;
  font-style: normal;
}
.group-icon {
  width: 15%;
  color: white;
}

.date-time {
  font-size: 0.8rem;
}

.speaker-battery-wifi {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  margin-top: 16px;
}
.notificationBadge {
  border-radius: 50%;
  font-size: x-small;
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 5px;
  background-color: rgb(16, 159, 253);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
